.blog {
    text-wrap: pretty;
    strong {
        font-weight: 700;
    }

    .article-time {
        display: block;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        vertical-align: middle;
        word-break: normal !important;
        margin-bottom: 3rem;
    }

    tr {
        display: table-row;
        vertical-align: inherit;   
    }

    th,
    td {
        padding: 0.75rem;

        white-space: normal;
        text-wrap: pretty;
        word-wrap: normal;
        overflow-wrap: break-word;
        word-break: normal;
        * {
            word-break: normal !important;
        }
    }
 
 
}