.blog {
    text-wrap: pretty;
    strong {
        font-weight: 700;
    }

    .article-time {
        display: block;
        color: rgba(0, 4, 6, 0.7);
    }
    .dark & .article-time {
        color: rgba(248, 253, 255, 0.7);
    }

    table {
        width: 100%;
        vertical-align: top;
        margin-bottom: 5rem;
        caption-side: top;

        border-collapse: collapse;
        border-color: $color-primary;
        word-break: normal !important;

        caption {
            text-align: center;
            color: inherit;
            font-weight: 600;
        }

        thead {
            background: $white;
            color: $color-primary;
        }

        .dark & thead {
            background: $color-primary;
            color: $white;
        }

        tr {
            display: table-row;
            vertical-align: top;
        }
        th,
        td {
            padding: 0.75rem;
            border: 1px solid $color-primary;

            white-space: normal;
            text-wrap: pretty;
            word-wrap: normal;
            overflow-wrap: break-word;
            word-break: normal;
            * {
                word-break: normal !important;
            }
        }
    }

    .custom-table {
        width: 100%;
        overflow-y: auto;
    }
}



.notice {
    @extend .bg-white;
    @extend .rounded-2;
    padding: 1rem 1.5rem;
    margin: 2rem 0;

    .text-large & {
        border-top-width: 3rem !important;
    }
}

