.blog {
    text-wrap: pretty;
    strong {
        font-weight: 700;
    }

    .article-time {
        display: block;
    }

    table {
        width: 100%;
        vertical-align: middle;
        margin-bottom: 5rem;
        caption-side: top;
        
        border-collapse: collapse;
        border-color: $color-primary;
        word-break: normal !important;

        caption {
            text-align: center;
            color: inherit;
            font-weight: 600;
        }

        thead {
            background: $color-primary;
            color: white;
        }

        tr {
            display: table-row;
            vertical-align: inherit; 
            &:not(:last-child) {
                border-bottom: 1px solid $color-primary;
            }  
        }
        th,
        td {
            padding: 0.75rem;

            white-space: normal;
            text-wrap: pretty;
            word-wrap: normal;
            overflow-wrap: break-word;
            word-break: normal;
            * {
                word-break: normal !important;
            }
        }
    }

    .custom-table {
        width: 100%;
        overflow-y: auto;
    }
}



.notices {
    &.note p {
        &::before {
            content: '📌';
        }
        &::after {

        }
    }
    &.warning {
        p {
            &::before {
                content: "❗"
            }
            &::after {
                content: "Important" !important;
            }
        }
    }

    p {
        @extend .bg-white;
        border-color: transparent !important;

        .text-large & {
            border-top-width: 3rem !important;
        }
        body.dark & {
            border-color: transparent !important;
        }

        &::before {
            top: 8px;
            margin-right: 2px;
            border: none;

            font-size: 1.5rem;
            line-height: 1;
            
            .text-large & {
                top: 12px;
            }
        } 

        &::after {
            left: 3rem;
            color: $color-primary;
            font-size: 1.5rem;
            .text-large & {
                font-size: 2rem;
            }
        }
    }
}

