#services {
    .services-accordion {
        @media screen and (min-width: 768px) {
            display: none;
            .text-large & {
                display: block;
            }
        }
        @media screen and (min-width: 1200px) {
            .text-large & {
                display: none;
            } 
        }
    }

    .services-tab-panel {
        display: none;
        @media screen and (min-width: 768px) {
            display: block;
            .text-large & {
                display: none;
            }
        }
        @media screen and (min-width: 1200px) {
            .text-large & {
                display: block;
            } 
        }
    }
}

#why-choose-us {
    .why-choose-us-container {
        display: flex;
        flex-direction: column;
        gap: 6rem;

        @media (min-width: 768px) { 
            flex-direction: row;
            .text-large & {
                flex-direction: column;
            }
        }

        @media (min-width: 992px) { 
            .text-large & { 
                flex-direction: row;
            }
        }
    }

    .why-choose-us-item {
        position: relative;

        /* Vertical Separators */
        &:last-child::after {
            content: none;
        }
        @include media-breakpoint-up(md) {
            &:after {
                content: '';
                position: absolute;
                display: block;
                top: 0;
                right: -3rem;
                width: 2px;
                height: 100%;
                background: linear-gradient(to right, #3a89cc, #26c5f3);
            }
            .text-large &::after {
                display: none;
            }
        }

        /* Large Text - enable vertical separators*/
        @include media-breakpoint-up(lg) {
            .text-large &::after {
                display: block;
            }
        }
    }
}