body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.6;
  color: $text-color;
  font-size: rfs-value($font-size);
  text-underline-offset: 5px;

  text-rendering: optimizeLegibility;
  hyphenate-character: "–";
  text-wrap: pretty;
  overflow-wrap: break-word;
  white-space: normal;
}

p {
  margin-bottom: 1rem;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: 400;
  color: $color-primary;
  line-height: 1.5;
}

h1 {
  font-size: rfs-value(46px);
  font-weight: 700;
  letter-spacing: 1.25px;
}

h2 {
  font-size: rfs-value(42px);
  font-family: $font-primary;
  font-weight: 400;
  color: $text-light;
}

h3 {
  font-size: rfs-value(38px);
}

h4 {
  font-size: rfs-value(32px);
  font-weight: 400;
}

a {
  color: $color-primary;
  text-decoration: underline !important;
  &:hover {
    color: $color-primary-darker;
  }
}


small,
.small {
  font-size: 0.8rem;
}


// Dark Theme
body.dark {
  color: $dark-text-color;

  h1,
  h3,
  h4 {
    color: $dark-color-primary;
  }


  h2,
  h5,
  h6 {
    color: $dark-text-light;
  }

  a {
    color: $dark-text-color;
    text-decoration: underline;
    
    &:hover {
      color: $dark-color-primary;
    }

    &:visited {
      color: $white
    }
  }

  .modal-content {
    color: $white;
  }
}


// Text Large
body.text-large {
  font-size: rfs-value($large-font-size);

  h1 {
    font-size: rfs-value(64px);
  }

  h2 {
    font-size: rfs-value(54px);
  }

  h3 {
    font-size: rfs-value(44px);
  }

  h4 {
    font-size: rfs-value(38px);
  }

  .hero .display-list {
    font-size: rfs-value(32px);
  }
}