.margin-right-3 {
    margin-inline-end: 1rem;
}

.align-self-center {
    align-self: center;
}

.dark .hero {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('images/banner-art.svg');
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: calc(100vh - 100px);
    padding: 0;
    background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url('images/banner-art.svg');

    .display-list {
        margin-top: 3rem;
        font-size: rfs-value(25px);
        letter-spacing: 1px;
    }

    ul {
        li {
            margin-block-end: 2rem;
        }
    }
}
.nav-item {
    flex: 1 1 auto;
}
.nav-tabs {
    border-bottom: 0;
    .nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        color: $color-primary;
        height: 100%;
        width: 100%;
        border: 2px solid transparent;
        &.active {
            border-color: $color-primary;
            background: $white;
            text-decoration: underline;
        }
        &:hover {
            border-color: $color-primary;
        }
    }
}
.tab-btn-image {
    max-height: 80px;
    max-width: 80px;
    margin-bottom: 20px;
    &.icon-dark {
        display: none;
    }
}
.tab-btn-text {
    font-size: rfs-value($font-size);
}
.tab-content {
    background: $white;
    border-color: transparent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgba(45, 67, 121, 0.15) !important;
}

.accordion-button {
    border-radius: 0;
    background: transparent;

    &:active,
    &:focus,
    &.focus,
    &:focus-visible {
        box-shadow: none;
        outline: 3px solid $color-primary;
        outline-offset: 4px;
    }

    &:not(.collapsed) {
        box-shadow: none;

        &:active,
        &:focus,
        &.focus,
        &:focus-visible {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .accordion-header {
            color: $white;
        }
        .accordion-image {
            filter: brightness(0) invert(1);
        }
    }
}
.accordion-header {
    font-size: rfs-value($font-size);
}
.accordion-item {
    border: 2px solid $color-primary !important;
    border-radius: 20px;
    background: $white;

    &:not(:first-of-type),
    &:first-of-type {
        border-radius: 20px;
        border-top: 2px solid $color-primary !important;

        .accordion-button {
            border-top-left-radius: 17px;
            border-top-right-radius: 17px;
        }
    }
    &:last-of-type .accordion-button.collapsed {
        border-bottom-left-radius: 17px;
        border-bottom-right-radius: 17px;
    }

    .show {
        border-bottom-left-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        box-shadow: 2px 2px 5px 2px rgba(45, 67, 121, 0.15) !important;
    }
}
 .accordion-image {
    height: 32px;
    width: 32px;
    margin-right: 20px;
    &.icon-dark {
        display: none;
    }
 }

 /**
 * Radio Button
 */
 .radio-field {
    .form-check-input[type="radio"] {
        width: $font-size;
        height: $font-size;
        border: 2px solid #414647;
        background-color: unset;
        &:hover,
        &:focus {
          box-shadow: none;
        }

        &:focus {
            outline-width: 2px;
            outline-style: solid;
            outline-color: $color-primary;
            outline-offset: 3px;
        }

        &:checked {
            background-color: $color-primary;
            border-color: $color-primary;
        }
    }
 }

 .dark {
    .radio-field {
        .form-check-input[type="radio"] {
            border-color: #e4edef;
            background-color: #373A3A;
            &:focus {
                outline-color: $dark-color-primary;
            }

            &:checked {
                background-color: $dark-color-primary;
                border-color: $dark-color-primary;
                background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='%23373737'/></svg>");
            }
        }
    }
    .tab-btn-image,
    .accordion-image {
        &.icon-light {
            display: none;
        }
        &.icon-dark {
            display: block;
        }
    }
    .nav-tabs {
        .nav-link {
            color: $white;

            &:active,
            &:focus,
            &.focus,
            &:focus-visible {
                outline: 3px solid $dark-color-primary;
            }
            &.active {
                border-color: $color-primary;
                background: #222;
            }
            .tab-btn-text {
                color: $white;
            }
        }
    }
    .accordion-item {
        background: $dark-body-bg;
        color: $dark-text-color;
    }
    .accordion-header {
        color: $white;
    }
    .accordion-button {
        &:active,
        &:focus,
        &.focus,
        &:focus-visible {
            outline: 3px solid $dark-color-primary;
        }

        &:not(.collapsed) {
            background-color: transparent;
            border-bottom: 1px solid $color-primary !important;
        }
    }
}
