/**
 * Remove Images - global styles
 */
.no-image-fallback {
  display: none;
}

body.remove-images {
    .hero,
    &.dark .hero {
        background-image: none;
    }

    img {
        display: none !important;
    }

    .no-image-fallback {
        display: block;
        font-family: $font-primary;
    }
    .navbar .no-image-fallback {
        height: 74px;
    }
}

/**
 * Reduce animations
 */
body.reduce-animations {
    [data-aos] {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
        transition-property: none !important;
    }
}

/**
 * Large Text
 */
body.text-large {
    .hero .btn {
        padding: 2rem 3rem;
    }

    #services ol {
        &:before {
            left: 1.25rem;
        }

        li::before {
            top: 0;
            left: -2.75rem;
            padding: 1.5rem;
            border-radius: 1.5rem;
        }
    }
}


/**
 * Custom styles
 */

.margin-right-3 {
    margin-inline-end: 1rem;
}

.align-self-center {
    align-self: center;
}
ul:not(.nav):not(.footer-nav):not(.blog ul) {
    list-style-image: url('/images/bullet.svg');

    li {
        padding-left: 1rem;
    }
}
.dark ul:not(.nav):not(.footer-nav):not(.blog ul) {
    list-style-image: url('/images/bullet_dark.svg');
}
.dropdown-heading {
    font-size: rfs-value($font-size);
}
.dropdown-theme {
    border-bottom: 1px solid #6C7575;
}

.dropdown-section {
    padding-left: 1.7rem;
}

.dark .hero {
    background-image: url('/images/new_hero_dark.jpg');
    background-color: #000;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: calc(100vh - 100px);
    padding: 0;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url('/images/new_hero.jpg');
    background-color: #eef5f6;
    background-size: cover;

    .display-list {
        margin-top: 3rem;
        font-size: rfs-value(25px);
        letter-spacing: 1px;
    }

    ul {
        li {
            margin-block-end: 2rem;
        }
    }

    .btn {
        font-size: rfs-value(24px);
    }
}


@include media-breakpoint-down(xl) {
    .hero {
        background-image: url('/images/hero_small.webp') ;
        background-position: top right;
        // background-color: ;
    }
    .dark .hero {
        background-image: url('/images/hero_dark_small.webp') ;
    }
}

.cta {
    &,
    .cta-heading {
        color: $white;
    }
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: linear-gradient(
        90deg,
        #033254 0%,
        #035e85 25%,
        #035e85 50%,
        #035e85 78%,
        #033254 100%
      );
}

.dark .cta {
    &,
    .cta-heading {
        color: $black;
    }
    background: linear-gradient(
        90deg,
        #3a89cc 0%,
        #26c5f3 25%,
        #26c5f3 50%,
        #26c5f3 78%,
        #3a89cc 100%
      );
}

.cta-bottom {
    margin-top: -30px;
}
.nav-item {
    flex: 1 1 auto;
}
.nav-tabs {
    border-bottom: 0;
    position: relative;
    z-index: 2;
    margin-bottom: -2px;
    .nav-link {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $color-primary;
        height: 100%;
        width: 100%;
        border: 2px solid transparent;
        .dark & {
            color: $white;
        }

        &:hover,
        &:focus,
        &.focus,
        &:focus-visible {
            outline: none;
            border-color: transparent;
            &::before {
                content: "";
                position: absolute;
                z-index: 1;
                border: 3px solid #034c71;
                inset: 4px;
                border-radius: var(--bs-border-radius-xl);

                // border: 3px solid $color-primary;
                // inset: -1px;
                // bottom: 0;
                // border-bottom: 0;
                // border-radius: var(--bs-border-radius-xl);
                // border-bottom-left-radius: 0;
                // border-bottom-right-radius: 0;
                .dark & {
                    border-color: $dark-color-primary;
                }
            }
        }

        &.active {
            border-color: $color-primary;
            background: $white;
            text-decoration: underline;
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-bottom: 0 !important;
            color: $color-primary;
            .dark & {
                color: $white;
                border-color: $dark-color-primary;
                background: $dark-body-light;
            }
        }
        .tab-btn-text {
           .dark & {
                color: $white;
           }
        }
    }
}
.tab-btn-image {
    max-height: 80px;
    max-width: 80px;
    margin-bottom: 20px;
    &.icon-dark {
        display: none;
    }
}
.tab-content {
    background: transparent !important;
    padding: 0 !important;
    border: 0;
    position: relative;
    z-index: 1;

    /** for equal panel height */
    display: flex;
    & > .tab-pane {
        /** for equal panel height */
        display: block;
        visibility: hidden;
        margin-right: -100%;
        width: 100%;
      }
    & > .active {
        visibility: visible;
    }
}

.tab-pane {
    background: $white;
    border: 2px solid $color-primary;
    box-shadow: 2px 2px 5px 2px rgba(45, 67, 121, 0.15) !important;

    &:first-of-type {
        border-top-left-radius: 0 !important;
    }
    &:last-of-type {
        border-top-right-radius: 0 !important;
    }
}

.accordion-button {
    border-radius: 0;
    background: transparent;

    &:active,
    &:focus,
    &.focus,
    &:focus-visible {
        box-shadow: none;
        outline: 3px solid $color-primary;
        outline-offset: 4px;
    }

    &:not(.collapsed) {
        box-shadow: none;

        &:active,
        &:focus,
        &.focus,
        &:focus-visible {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .accordion-header {
            color: $white;
        }
        .accordion-image {
            filter: brightness(0) invert(1);
        }
    }
}
.accordion-header {
    font-size: rfs-value($font-size);
    margin-bottom: 0 !important;
}
.accordion-item {
    border: 2px solid $color-primary !important;
    border-radius: 20px;
    background: $white;

    &:not(:first-of-type),
    &:first-of-type {
        border-radius: 20px;
        border-top: 2px solid $color-primary !important;

        .accordion-button {
            border-top-left-radius: 17px;
            border-top-right-radius: 17px;
        }
    }
    &:last-of-type .accordion-button.collapsed {
        border-bottom-left-radius: 17px;
        border-bottom-right-radius: 17px;
    }

    .show {
        border-bottom-left-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        box-shadow: 2px 2px 5px 2px rgba(45, 67, 121, 0.15) !important;
    }
}
 .accordion-image {
    height: 32px;
    width: 32px;
    margin-right: 20px;
    &.icon-dark {
        display: none;
    }
 }

 /**
  * Servicecs section
  */
 #services {

    p:empty {
        display: none;
    }
    ol {
        position: relative;
        list-style: decimal;
        padding-left: 3rem;
        &:before {
            position: absolute;
            left: 1.5rem;
            height: 100%;
            width: 19px;
            border-radius: 50px;
            content: "";
            background: #033254;
            background: linear-gradient(180deg, #033254 0%, #035e85 100%);
            z-index: 0;
        }
        li {
            padding-left: 1rem;
            position: relative;
            margin-bottom: 1rem;
            z-index: 2;
            &::before {
                box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25) !important;
                position: absolute;
                left: -2.2rem;
                top: -0.3rem;
                background: $white;
                padding: 1.25rem;
                border-radius: 1.25rem;
                content: "";
                z-index: -1;
            }
            &::marker {
                color: $black;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
}


.dark #services ol {
    &:before {
        background: #3a89cc;
        background: linear-gradient(180deg, #3a89cc 0%, #26c5f3 100%);
    }
}



 /**
 * Radio Button
 */
 .radio-field {
    display: flex;
    align-items: baseline;
    padding-left: 0;

    &:hover {
        color: $text-color;
    }

    label {
        padding-left: 1rem;
        &:hover {
            cursor: pointer;
        }
    }

    &.form-check {
        align-items: center;
    }
    .form-check-input[type="radio"] {
        float: none;
        flex-shrink: 0;
        width: $font-size;
        height: $font-size;
        border: 2px solid #414647;
        margin-top: 0;
        margin-left: 0;
        background-color: unset;

        &:hover,
        &:focus {
          box-shadow: none;
        }

        &:focus {
            outline-width: 3px;
            outline-style: solid;
            outline-color: $color-primary;
            outline-offset: 4px;
        }

        &:checked {
            background-color: $color-primary;
            border-color: $color-primary;
        }
    }
 }

body.dark {
    .bg-white,
    .bg-light,
    .modal-content {
        background-color: $dark-body-light !important;
    }
    .radio-field {
        &:hover {
            color: $dark-text-color;
        }
        .form-check-input[type="radio"] {
            border-color: #e4edef;
            background-color: #373A3A;
            &:focus {
                outline-color: $dark-color-primary;
            }

            &:checked {
                background-color: $dark-color-primary;
                border-color: $dark-color-primary;
                background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='%23373737'/></svg>");
            }
        }
    }
    .tab-btn-image,
    .accordion-image {
        &.icon-light {
            display: none;
        }
        &.icon-dark {
            display: block;
        }
    }

    .tab-pane {
        background-color: $dark-body-light !important;
        border-color: $dark-color-primary;
    }
    .accordion-item {
        background: $dark-body-bg;
        color: $dark-text-color;
    }
    .accordion-header {
        color: $white;
    }
    .accordion-button {
        &:active,
        &:focus,
        &.focus,
        &:focus-visible {
            outline: 3px solid $dark-color-primary;
        }

        &:not(.collapsed) {
            background-color: transparent;
            border-bottom: 1px solid $color-primary !important;
        }
    }
}
.footer {
    background: url('/images/footer_bg_dark.png') repeat-x;

	.footer-heading {
		color: $color-primary;

		.dark & {
			color: $dark-color-primary;
		}
	}

	.footer-list {
		color: $text-color;

		.dark & {
			color: $dark-text-color;
		}

        li {
            padding: 5px 0;
        }
		a {
			color: $text-color;
			text-decoration: underline;
            padding: 0;

			.dark & {
				color: $dark-text-color;
			}

			&:hover {
				color: $color-primary;

				.dark & {
					color: $dark-color-primary;
				}
			}
		}
	}

	.footer-center {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer-right {
		text-align: right;
		a {
			display: inline-block;
		}
		img {
			display: block;
			width: 100%;
			max-width: 300px;
		}
	}

    .footer-nav {
        a {
            text-decoration: none;
        }
        .active {
            text-decoration: underline;
            color: $color-primary;
            .dark & {
                color: $dark-color-primary;
            }
        }
    }

	.footer-wcag {
		// padding: 1rem;
		color: $text-color;
	}

	.copyright-container {
		position: relative;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	@media (max-width: 992px) { // Mobile
		.back-to-top-btn {
			margin-left: auto;
		}

		.copyright-container {
			flex-direction: column;
		}

		.copyright-label {
			order: 1;
			margin-top: 10px;
		}
	}

	@media (min-width: 992px) { // Desktop
		.back-to-top-btn {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.social-link {
    border-radius: 20px !important;
}
