/**
 * Remove Images - global styles
 */
.no-image-fallback {
  display: none;
}

body.remove-images {
    .hero,
    &.dark .hero {
        background-image: none;
    }

    img {
        display: none !important;
    }

    .no-image-fallback {
        display: block;
    }
}

/**
 * Reduce animations
 */
body.reduce-animations {
    [data-aos] {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
        transition-property: none !important;
    }
}

/** 
 * Custom styles 
 */

.margin-right-3 {
    margin-inline-end: 1rem;
}

.align-self-center {
    align-self: center;
}
ul:not(.nav):not(.footer-nav) {
    list-style-image: url('/images/bullet.svg');

    li {
        padding-left: 1rem;
    }
}
.dark ul:not(.nav):not(.footer-nav)  {
    list-style-image: url('/images/bullet_dark.svg');
}
.dropdown-heading {
    font-size: rfs-value($font-size);
}
.dropdown-theme {
    border-bottom: 1px solid #6C7575;
}
.dark .hero {
    background-image: url('/images/hero_dark.webp');
    background-color: #000;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: calc(100vh - 100px);
    padding: 0;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url('/images/hero.webp');
    background-color: #eef5f6;
    background-size: cover;

    .display-list {
        margin-top: 3rem;
        font-size: rfs-value(25px);
        letter-spacing: 1px;
    }

    ul {
        li {
            margin-block-end: 2rem;
        }
    }
}

@include media-breakpoint-down(xl) {
    .hero {
        background-image: url('/images/hero_small.webp') ;
        background-position: top right;
        // background-color: ;
    }
    .dark .hero {
        background-image: url('/images/hero_dark_small.webp') ;
    }
}

.cta {
    &,
    .cta-heading {
        color: $white;
    }
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: linear-gradient(
        90deg,
        #033254 0%,
        #035e85 25%,
        #035e85 50%,
        #035e85 78%,
        #033254 100%
      );
}

.dark .cta {
    &,
    .cta-heading {
        color: $black;
    }
    background: linear-gradient(
        90deg,
        #3a89cc 0%,
        #26c5f3 25%,
        #26c5f3 50%,
        #26c5f3 78%,
        #3a89cc 100%
      );
}

.cta-bottom {
    margin-top: -30px;
}
.nav-item {
    flex: 1 1 auto;
}
.nav-tabs {
    border-bottom: 0;
    .nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $color-primary;
        height: 100%;
        width: 100%;
        border: 2px solid transparent;
        &.active {
            border-color: $color-primary;
            background: $white;
            text-decoration: underline;
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-bottom: 0 !important;
        }
        &:hover {
            border-color: $color-primary;
        }
    }
}
.tab-btn-image {
    max-height: 80px;
    max-width: 80px;
    margin-bottom: 20px;
    &.icon-dark {
        display: none;
    }
}
.tab-content {
    background: transparent !important;
    padding: 0 !important;
    border: 0;
}
.tab-pane {
    background: $white;
    border-color: transparent;
    box-shadow: 2px 2px 5px 2px rgba(45, 67, 121, 0.15) !important;

    &:first-of-type {
        border-top-left-radius: 0 !important;
    }
    &:last-of-type {
        border-top-right-radius: 0 !important;
    }
}

.accordion-button {
    border-radius: 0;
    background: transparent;

    &:active,
    &:focus,
    &.focus,
    &:focus-visible {
        box-shadow: none;
        outline: 3px solid $color-primary;
        outline-offset: 4px;
    }

    &:not(.collapsed) {
        box-shadow: none;

        &:active,
        &:focus,
        &.focus,
        &:focus-visible {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .accordion-header {
            color: $white;
        }
        .accordion-image {
            filter: brightness(0) invert(1);
        }
    }
}
.accordion-header {
    font-size: rfs-value($font-size);
}
.accordion-item {
    border: 2px solid $color-primary !important;
    border-radius: 20px;
    background: $white;

    &:not(:first-of-type),
    &:first-of-type {
        border-radius: 20px;
        border-top: 2px solid $color-primary !important;

        .accordion-button {
            border-top-left-radius: 17px;
            border-top-right-radius: 17px;
        }
    }
    &:last-of-type .accordion-button.collapsed {
        border-bottom-left-radius: 17px;
        border-bottom-right-radius: 17px;
    }

    .show {
        border-bottom-left-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        box-shadow: 2px 2px 5px 2px rgba(45, 67, 121, 0.15) !important;
    }
}
 .accordion-image {
    height: 32px;
    width: 32px;
    margin-right: 20px;
    &.icon-dark {
        display: none;
    }
 }

 #services {
    p:empty {
        display: none;
    }
    ol {
        position: relative;
        list-style: decimal;
        padding-left: 3rem;
        &:before {
            position: absolute;
            left: 1.5rem;
            height: 100%;
            width: 19px;
            border-radius: 50px;
            content: "";
            background: #033254;
            background: linear-gradient(180deg, #033254 0%, #035e85 100%);
            z-index: 0;
        }
        li {
            padding-left: 1rem;
            position: relative;
            margin-bottom: 1rem;
            z-index: 2;
            &::before {
                box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25) !important;
                position: absolute;
                left: -2.2rem;
                top: -0.3rem;
                background: $white;
                padding: 1.25rem;
                border-radius: 1.25rem;
                content: "";
                z-index: -1;
            }
            &::marker {
                color: $black;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
}
 .dark #services ol {
    &:before {
        background: #3a89cc;
        background: linear-gradient(180deg, #3a89cc 0%, #26c5f3 100%);
    }
}

.why-choose-us-item {
    border-right: 2px solid #3a89cc;
    border-image: linear-gradient(
        to bottom,
        #3a89cc,
        #26c5f3
      ) 1 100%;
    &:last-child {
        border: 0;
    }
}

 /**
 * Radio Button
 */
 .radio-field {

    .form-check-input[type="radio"] {
        width: $font-size;
        height: $font-size;
        border: 2px solid #414647;
        margin-top: 5px;
        background-color: unset;

        &:hover,
        &:focus {
          box-shadow: none;
        }

        &:focus {
            outline-width: 2px;
            outline-style: solid;
            outline-color: $color-primary;
            outline-offset: 3px;
        }

        &:checked {
            background-color: $color-primary;
            border-color: $color-primary;
        }
    }
 }

body.dark {
    .bg-white,
    .bg-light,
    .modal-content {
        background-color: $dark-body-light !important;
    }
    .radio-field {
        .form-check-input[type="radio"] {
            border-color: #e4edef;
            background-color: #373A3A;
            &:focus {
                outline-color: $dark-color-primary;
            }

            &:checked {
                background-color: $dark-color-primary;
                border-color: $dark-color-primary;
                background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='%23373737'/></svg>");
            }
        }
    }
    .tab-btn-image,
    .accordion-image {
        &.icon-light {
            display: none;
        }
        &.icon-dark {
            display: block;
        }
    }
    .nav-tabs {
        .nav-link {
            color: $white;

            &:active,
            &:focus,
            &.focus,
            &:focus-visible {
                outline: 3px solid $dark-color-primary;
            }
            &.active {
                border-color: $color-primary;
                background: $dark-body-light;
            }
            .tab-btn-text {
                color: $white;
            }
        }
    }
    .tab-pane {
        background-color: $dark-body-light !important;
    }
    .accordion-item {
        background: $dark-body-bg;
        color: $dark-text-color;
    }
    .accordion-header {
        color: $white;
    }
    .accordion-button {
        &:active,
        &:focus,
        &.focus,
        &:focus-visible {
            outline: 3px solid $dark-color-primary;
        }

        &:not(.collapsed) {
            background-color: transparent;
            border-bottom: 1px solid $color-primary !important;
        }
    }
}

.footer {
    .footer-heading {
        color: $color-primary;
    }
    .footer-contact a {
        color: $text-color;
        text-decoration: underline;

        &:hover {
          color: $color-primary;
        }
    }
    .footer-right {

        img {
            max-width: 300px;
        }
    }
    .footer-wcag {
        padding: 1rem;
        font-size: calc(#{$font-size} * 1.5);
        color: $text-color;
    }
}

.dark {
    .footer {
        .footer-heading {
            color: $dark-color-primary;
        }
        .footer-list a {
            color: $dark-text-color;

            &:hover {
                color: $dark-color-primary;
            }
        }
        .footer-contact a {
            color: $dark-text-color;

            &:hover {
                color: $dark-color-primary;
            }
        }
    }
}
