{{define "main"}}

{{ partial "page-header.html" . }}

<section class="section blog" 
  data-aos="fade-up"
  data-aos-offset="180"
  data-aos-duration="600"
  data-aos-delay="400" 
  data-aos-easing="ease-in-out-sine">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">
          {{range where site.RegularPages "Section" .Params.section}}

          {{ $button := dict
          "enable" true
          "type" "link-stretched"
          "label" "Read article"
          "link" .RelPermalink
          }}

          <article class="mb-5">
            <h2>
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h2>
            <span class="article-time mb-2">
              {{i18n `published_on`}} <time datetime='{{ .PublishDate | time.Format ":date_long" }}'>
                {{ time.Format ":date_long" .PublishDate }}
              </time>
            </span>
            <p>{{ .Summary }}</p>
          </article>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section>


{{end}}