{{define "main"}}

{{ partial "page-header.html" . }}

<section class="section blog"
  data-aos="fade-up"
  data-aos-offset="180"
  data-aos-duration="600"
  data-aos-delay="400"
  data-aos-easing="ease-in-out-sine">
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto">
        <ul class="content blog-list list-unstyled" aria-label="Blog articles list">
          {{range where site.RegularPages "Section" .Params.section}}

          {{ $button := dict
          "enable" true
          "type" "link-stretched"
          "label" "Read article"
          "link" .RelPermalink
          }}

          <li class="mb-5">
            <article class="container blog-item rounded-2 overflow-hidden">
              <div class="row">
                {{ if .Params.image }}
                <div class="col-12 col-md-3 d-flex align-items-stretch m-0 p-0">
                  {{ partial "image" (dict
                    "Src" .Params.image
                    "Alt" .Params.image_alt
                    "Class" "w-100 h-100 object-fit-cover"
                  ) }}
                </div>
                {{ end }}
                <div class="col-12 col-md-9 p-5">
                  <h2>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                  </h2>
                  <p class="content-70ch">{{ .Params.description }}</p>
                </div>
              </div>
            </article>
          </li>
          {{end}}
        </ul>
      </div>
    </div>
  </div>
</section>


{{end}}