{{define "main"}}

{{ partial "page-header.html" . }}

<section class="section blog"
  data-aos="fade-up"
  data-aos-offset="180"
  data-aos-duration="600"
  data-aos-delay="400"
  data-aos-easing="ease-in-out-sine">
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <div class="content ">
          {{range where site.RegularPages "Section" .Params.section}}

          {{ $button := dict
          "enable" true
          "type" "link-stretched"
          "label" "Read article"
          "link" .RelPermalink
          }}

          <article class="mb-5">
            <div class="d-flex align-items-start gap-5 flex-md-row flex-column">
              {{ if .Params.image }}
              <div class="flex-shrink-0 mt-3 mb-md-0 mb-3" style="max-width: 180px;">
                {{ partial "image" (dict
                  "Src" .Params.image
                  "Alt" .Params.image_alt
                  "Class" "rounded-2 w-100"
                ) }}
              </div>
              {{ end }}
              <div class="content-70ch">
                <h2>
                  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h2>
                <span class="article-time mb-2">
                  {{i18n `published_on`}} <time datetime='{{ .PublishDate }}'>
                    {{ time.Format ":date_long" .PublishDate }}
                  </time>
                </span>
                <p>{{ .Summary }}</p>
              </div>
            </div>
          </article>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section>


{{end}}