<footer class="section pb-0 footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-xl-12">
        <div class="section pt-0 pb-2">
          <div class="row gy-4">
            <div class="col-lg-4 col-sm-6 footer-left" id="contact-info">
              <p class="footer-heading mb-0">{{ site.Params.footer_title | markdownify }}</p>
              <p class="footer-contact mb-4">{{ site.Params.footer_content | markdownify }}</p>
              {{ with site.Params.social }}
              <ul class="list-inline social-icons">
                {{ range . }}
                <li class="list-inline-item">
                  <a href="{{ .link | safeURL }}" 
                     aria-label="{{ .title }} external link" 
                     class="social-link" 
                     rel="external">
                  {{ $imagePath := "/images/social/" }}
                  {{ $defaultImage := (print $imagePath .title "_lt" ".png") }}
                  {{ $defaultHover := (print $imagePath .title "_lt" "_hover" ".png") }}
                  {{ $darkImage := (print $imagePath .title "_dt" ".png") }}
                  {{ $darkHover := (print $imagePath .title "_dt" "_hover" ".png") }}

                  {{ partial "image" (dict
                  "Src" $defaultImage
                  "Alt" .title
                  "Class" "social-light--default"
                  "Loading" "eager" 
                  )}}

                  {{ partial "image" (dict
                  "Src" $defaultHover
                  "Alt" .title
                  "Class" "social-light--hover"
                  "Loading" "eager" 
                  
                  )}}

                  {{ partial "image" (dict
                  "Src" $darkImage
                  "Alt" .title
                  "Class" "social-dark--default"
                  "Loading" "eager" 
                  )}}

                  {{ partial "image" (dict
                  "Src" $darkHover
                  "Alt" .title
                  "Class" "social-dark--hover"
                  "Loading" "eager" 
                  )}}

                  <span class="no-image-fallback">{{.no_image_fallback}}</span>
                  </a></li>
                {{ end }}
              </ul>
              {{ end }}
            </div>
            <div class="col-6 col-lg-4 col-sm-6 footer-center">
              {{ if site.Menus.footer }}
              <ul class="list-unstyled footer-nav footer-list">
              {{ range site.Menus.footer }}
              {{ $navItemURL := .URL | absLangURL }}
              {{ $currentPageURL := $.Permalink | absLangURL }}
              {{ $active := eq $navItemURL $currentPageURL }}
              
              Permalink: {{ $currentPageURL }} <br>
              navItemURL: {{ $navItemURL }} <br> 
              active {{ $active }}
              <li><a
                  href="{{ .URL | relLangURL }}" 
                  title="{{ .Name }}"
                  class="{{ if $active }}active{{ end }}"
                  {{ if $active }}aria-current="page"{{ end }}
                  >{{ .Name }}</a></li>
                {{ end }}
              </ul>
              {{ end }}
            </div>
            <div class="col-6 col-lg-4 col-sm-6 footer-right">
              <!-- external link -->
              <a href="{{ site.Params.footer_url | relLangURL }}"
              class="pt-3 footer-wcag"
              rel="noopener noreferrer external"
              title="{{ site.Params.footer_alt }} external link">
              <span aria-hidden="true" class="no-image-fallback"> {{ site.Params.footer_alt }} </span>
              {{ partial "image" (dict 
                "Src" site.Params.footer_image 
                "Alt" site.Params.footer_alt 
                "Class" "wcag")
                }}          
              </a>
            </div>
          </div>
        </div>
        <div class="text-center py-3 copyright-container">
          <div class="copyright-label">
            {{ replace site.Params.copyright "year" (now.Year) | markdownify}}
          </div>

          <a class="btn btn-sm btn-outlined back-to-top-btn" id="back-to-top" aria-label="Back to top" href="#top">
            <svg aria-hidden="true" viewBox="0 0 14 8" xmlns="http://www.w3.org/2000/svg">
              <path d="M.268 6.31 6.288.29c.39-.39 1.03-.39 1.42 0l6.02 6.02a1 1 0 0 1-.05 1.42c-.38.36-.98.36-1.37 0l-5.31-5.31-5.31 5.31a1 1 0 0 1-1.42-.05c-.36-.39-.36-.98 0-1.37z" /></svg>
            {{ i18n "back_to_top" }}
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>