<footer class="section pb-0 footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-11">
        <div class="section pt-0 pb-2">
          <div class="row gy-4">
            <div class="col-lg-4 col-sm-6 footer-left" id="contact-info">
              <p class="footer-heading mb-0">{{ site.Params.footer_title | markdownify }}</p>
              <p class="footer-contact mb-4">{{ site.Params.footer_content | markdownify }}</p>
              {{ with site.Params.social }}
              <ul class="list-inline social-icons">
                {{ range . }}
                <li class="list-inline-item"><a href="{{ .link | safeURL }}" title="{{ .title }}" class="social-link">
                  {{ $imagePath := "/images/social/" }}
                  {{ $defaultImage := (print $imagePath .title "_lt" ".png") }}
                  {{ $defaultHover := (print $imagePath .title "_lt" "_hover" ".png") }}
                  {{ $darkImage := (print $imagePath .title "_dt" ".png") }}
                  {{ $darkHover := (print $imagePath .title "_dt" "_hover" ".png") }}

                  {{ partial "image" (dict
                  "Src" $defaultImage
                  "Alt" .title
                  "Class" "social-light--default"
                  )}}

                  {{ partial "image" (dict
                  "Src" $defaultHover
                  "Alt" .title
                  "Class" "social-light--hover"
                  )}}

                  {{ partial "image" (dict
                  "Src" $darkImage
                  "Alt" .title
                  "Class" "social-dark--default"
                  )}}

                  {{ partial "image" (dict
                  "Src" $darkHover
                  "Alt" .title
                  "Class" "social-dark--hover"
                  )}}

                  <span class="no-image-fallback">{{.title}}</span>
                  </a></li>
                {{ end }}
              </ul>
              {{ end }}
            </div>
            <div class="col-lg-4 col-sm-6">
              {{ if site.Menus.footer }}
              <ul class="list-unstyled footer-nav footer-list">
                {{ range site.Menus.footer }}
                <li><a href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a></li>
                {{ end }}
              </ul>
              {{ end }}
            </div>
            <div class="col-lg-4 col-sm-6 footer-right d-flex justify-content-center">
              <a href="{{ site.Params.footer_url | relLangURL }}"
              class="pt-3 footer-wcag"
              rel="noopener noreferrer"
              title="{{ site.Params.footer_alt }}">
              <span class="no-image-fallback"> {{ site.Params.footer_image_fallback }} </span>
              {{ partial "image" (dict 
                "Src" site.Params.footer_image 
                "Alt" site.Params.footer_alt 
                "Class" "wcag")
              }}
            </a>
            </div>
          </div>
        </div>
        <div class="text-center py-1">
          {{ replace site.Params.copyright "year" (now.Year) | markdownify}}
        </div>
      </div>
    </div>
  </div>
</footer>