<!-- navigation -->
<header class="navigation">
  <div class="container">
    <a href="#contact-info" class="skip-to-content" role="link" >  
      {{ i18n "skip_to_contact" }} 
    </a>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
      <!-- navbar brand/logo -->
      <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">
        <span class="no-image-fallback">AccessLiaison</span>
        {{ partial "logo.html" . }}
      </a>

      <div class="d-flex align-items-center">
        {{ if site.Params.navigation_button.enable }}
        <!-- Appearance Settings -->
        <div class="dropdown js--appearance-settings">
          <button
            class="btn btn-primary ms-lg-4 mt-2 mt-lg-0 dropdown-toggle appearance-btn"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            data-bs-auto-close="outside"
          >
            <i class="fas fa-sliders"></i>
            <span class="appearance-btn-label">
              {{ i18n "appearance_dropdown" }}
            </span>
          </button>
          <ul class="dropdown-menu dropdown-menu-md-start p-0">
            <div class="dropdown-heading p-4 pb-0 fw-bold">
              {{ i18n "theme_header" }}
            </div>

            <ul class="dropdown-theme">
              <li class="dropdown-item">
                <div class="form-check radio-field">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="theme-picker"
                    id="theme-dark"
                    value="dark"
                  />
                  <label class="form-check-label" for="theme-dark">
                    {{ i18n "theme_dark" }}
                  </label>
                </div>
              </li>
              <li class="dropdown-item">
                <div class="form-check radio-field">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="theme-picker"
                    id="theme-light"
                    value="light"
                  />
                  <label class="form-check-label" for="theme-light">
                    {{ i18n "theme_light" }}
                  </label>
                </div>
              </li>
              <li class="dropdown-item">
                <div class="form-check radio-field">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="theme-picker"
                    id="theme-auto"
                    checked="checked"
                    value="auto"
                  />
                  <label class="form-check-label" for="theme-auto">
                    {{ i18n "theme_auto" }}
                  </label>
                </div>
              </li>
            </ul>

            <li class="dropdown-item">
              <div class="switch-field">
                {{ partial "switch" (dict "id" "switch-large-text") }}
                <label for="switch-large-text">
                  {{ i18n "switch_large_text"}}
                </label>
              </div>
            </li>

            <li class="dropdown-item">
              <div class="switch-field">
                {{ partial "switch" (dict "id" "switch-remove-images") }}
                <label for="switch-remove-images">
                  {{ i18n "switch_remove_images"}}
                </label>
              </div>
            </li>

            <li class="dropdown-item">
              <div class="switch-field">
                {{ partial "switch" (dict "id" "switch-reduce-animation") }}
                <label for="switch-reduce-animation">
                  {{ i18n "switch_reduce_animation"}}
                </label>
              </div>
            </li>
          </ul>
        </div>

        {{ end }}
      </div>
    </nav>
  </div>
</header>
<!-- /navigation -->

<!-- theme switcher -->
{{ if site.Params.theme_switcher }}
<script>

  document.addEventListener("DOMContentLoaded", () => {


    const appearanceMenu = document.querySelector(".js--appearance-settings");
    const themeOptions = appearanceMenu.querySelectorAll(
      'input[name="theme-picker"]'
    );
    const largeTextSwitch = appearanceMenu.querySelector("#switch-large-text");
    const removeImagesSwitch = appearanceMenu.querySelector("#switch-remove-images");
    const reduceAnimationsSwitch = appearanceMenu.querySelector("#switch-reduce-animation");

    const LARGE_TEXT_KEY = "large-text-enabled";
    const REMOVE_IMAGES_KEY = "remove-images-enabled";
    const REDUCE_ANIMATIONS_KEY = "reduce-animation-enabled";


    /**
     * Click Handler
     */
    appearanceMenu.addEventListener("click", (event) => {
      const target = event.target;

      if (largeTextSwitch.contains(target)) {
        event.preventDefault();
        handleLargeText(target.checked);
        saveAppearancePreferences(LARGE_TEXT_KEY, target.checked);
      }

      if (removeImagesSwitch.contains(target)) {
        handleRemoveImages(target.checked);
        saveAppearancePreferences(REMOVE_IMAGES_KEY, target.checked);
      }

      if (reduceAnimationsSwitch.contains(target)) {
        saveAppearancePreferences(REDUCE_ANIMATIONS_KEY, target.checked);
      }

      if (target.closest('[name="theme-picker"]')) {
        event.preventDefault();
        handleThemeChange(target.value);
        saveAppearancePreferences("theme", target.value);
      }
    });

    /**
     * Remove Images Handler
     */
    const handleRemoveImages = (isImagesRemoved) => {
      isImagesRemoved = isImagesRemoved || false;

      setTimeout(() => {
        removeImagesSwitch.checked = isImagesRemoved;
        isImagesRemoved
          ? removeImagesSwitch.setAttribute("checked", true)
          : removeImagesSwitch.removeAttribute("checked");
      });

      if (isImagesRemoved) {
        document.body.classList.remove("remove-images");
        document.body.classList.add("remove-images");
      } else {
        document.body.classList.remove("remove-images");
      }
    };

    /**
     * Reduce Animations Handler
     */
    const handleReduceAnimations = (isAnimationsReduced) => {
      isAnimationsReduced = isAnimationsReduced || false;

      setTimeout(() => {
        reduceAnimationsSwitch.checked = isAnimationsReduced;
        isAnimationsReduced
          ? reduceAnimationsSwitch.setAttribute("checked", true)
          : reduceAnimationsSwitch.removeAttribute("checked");
      });

      if (isAnimationsReduced) {
        document.body.classList.remove("reduce-animations");
        document.body.classList.add("reduce-animations");
      } else {
        document.body.classList.remove("reduce-animations");
      }
    };


    /**
     * Large Text Handler
     */
    const handleLargeText = (isTextLarge) => {
      isTextLarge = isTextLarge || false;

      setTimeout(() => {
        largeTextSwitch.checked = isTextLarge;
        isTextLarge
          ? largeTextSwitch.setAttribute("checked", true)
          : largeTextSwitch.removeAttribute("checked");
      });

      if (isTextLarge) {
        document.body.classList.remove("text-large");
        document.body.classList.add("text-large");
        document.documentElement.style.fontSize = '16px';
      } else {
        document.body.classList.remove("text-large");
        document.documentElement.style.fontSize = '';
      }
    };

    /**
     * Theme Handler :: START
     */
    const setLightTheme = () => {
      document.body.classList.remove("dark");
    };

    const setDarkTheme = () => {
      if (!document.body.classList.contains("dark")) {
        document.body.classList.add("dark");
      }
    };

    const setAutoTheme = () => {
      if (!window.matchMedia) {
        setDarkTheme();
      }

      if (appearanceMenu.querySelector('input[value="auto"]').checked) {
        window.matchMedia("(prefers-color-scheme: dark)").matches
          ? setDarkTheme()
          : setLightTheme();
      }
    };

    const handleThemeChange = (themePreferences) => {
      // sets 'auto' theme by default
      themePreferences = themePreferences ? themePreferences : "auto";

      const mediaQuery = window.matchMedia("(prefers-color-scheme: dark)");
      if (themePreferences !== "auto") {
        mediaQuery.removeEventListener("change", setAutoTheme);
      }

      switch (themePreferences) {
        case "light":
          setLightTheme();
          break;
        case "dark":
          setDarkTheme();
          break;
        default:
          setAutoTheme();
          mediaQuery.addEventListener("change", setAutoTheme);
      }

      // Marks radio buttons as checked programmatically
      setTimeout(() => {
        // hack needed for boostrap to complete update cycle
        themeOptions.forEach((option) => {
          themePreferences === option.value
            ? option.setAttribute("checked", "checked")
            : option.removeAttribute("checked");
          option.checked = themePreferences === option.value;
        });
      });
    };
    /** Theme Handler :: END */

    /**
     * Store user preferences
     */
    const saveAppearancePreferences = (name, value) => {
      localStorage.setItem(name, value);
    };

    const getStoredAppearancePreferences = () => {
      const themePreferences = localStorage.getItem("theme");
      handleThemeChange(themePreferences);

      const largeTextPreferences = localStorage.getItem(LARGE_TEXT_KEY);
      handleLargeText(JSON.parse(largeTextPreferences));

      const removeImagesPreferences = localStorage.getItem(REMOVE_IMAGES_KEY);
      handleRemoveImages(JSON.parse(removeImagesPreferences));

      const reduceAnimationsPreferences = localStorage.getItem(REDUCE_ANIMATIONS_KEY);
      handleReduceAnimations(JSON.parse(reduceAnimationsPreferences));
    };

    getStoredAppearancePreferences();
  });
</script>
{{ end }}
