{{ define "main" }}

<!-- hero -->
{{ with .Params.banner }}
<section class="hero banner">
  <div class="container">
    <div class="row h-100">
      <div class="col-lg-7 margin-right-3 h-100 d-flex flex-column justify-content-center">
        <h1 class="mb-4 pb-2">{{ .title | markdownify }}</h1>
        <div class="mb-4 display-list">{{ .content | markdownify }}</div>
        <div class="mb-5">
          {{ if .button.enable }}
          {{ with .button }}
          <!-- TODO: link & button -->
          <a href="{{ site.Params.navigation_button.link | relLangURL }}" 
             title="{{ .label }}" 
             class="btn btn-gradient m-2">
            {{ .label }}
          </a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /hero -->

<!-- feature -->
{{ with .Params.feature }}
{{ if .enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-7 mx-auto mb-5 mb-xl-0">
        <div class="">
          <h2 class="section-title h2 mb-4">{{ .title | markdownify }}</h2>
          <div class="content mb-4">
            {{.content | markdownify}}
          </div>
          <h3 class="mt-4 mb-4 text-center"> {{ .subtitle | markdownify }} </h3>
          <div class="text-center"> {{ .subtitle_content }} </div>
        </div>
      </div>
    </div>
    <div class="row gx-md-5 gy-5 mt-1">
      {{ range .feature_item }}
        <div class="col-3 d-flex">
          <div class="feature-card bg-white rounded-1 d-block d-sm-flex">
            <div class="block">
              <h4 class="mb-3">{{ .name }}</h4>
              <p class="mb-0">{{ .content | markdownify }}</p>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /feature -->


<!-- CTA - Mission -->
{{ if .Params.mission.enable }}
{{ with .Params.mission }}
<section class="section bg-light-blue" id="mission">
  {{ partial "cta" . }}
</section>
{{ end }}
{{ end }}
<!-- /CTA - Mission -->
 

<!-- Services - Tab panel -->
 {{ if .Params.services.enable }}
 {{ with .Params.services }}
<section class="section bg-light-blue" id="services">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center">{{ .title | markdownify }}</h2>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Services - Tab panel -->



<!-- Why choose us -->
{{with .Params.why_choose_us}}
<section class="section bg-light" id="why-choose-us">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 mb-4 text-center mx-auto">
        <h2 class="section-title h2">{{ .title | markdownify }}</h2>
      </div>
    </div>
    <div class="row">
      {{ range .items }} 
      <div class="col-12 col-md-4">
        <h3> {{ .name }} </h3>
        <p> {{ .content | markdownify }} </p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{end}}
<!-- /why-choose-us -->

<!-- call to action -->
{{ with .Params.call_to_action }}
{{ if .enable }}
<section class="section">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lgy-5 col-md-7">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        {{with .content }}<p class="mb-4">{{ . | markdownify }}</p>{{ end }}
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | relLangURL }}" title="{{ .label }}" class="btn btn-primary">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /call to action -->


{{ end }}