{{ define "main" }}

<!-- hero -->
{{ with .Params.banner }}
<section class="hero banner">
</div>
  <div class="container">
    <div class="row h-100">
      <div class="col-lg-7 margin-right-3 h-100 d-flex flex-column justify-content-center">
        <h1 class="mb-4 pb-2">{{ .title | markdownify }}</h1>
        <div class="mb-4 display-list">{{ .content | markdownify }}</div>
        <div class="mb-5">
          {{ if .button.enable }}
          {{ with .button }}
          <!-- TODO: link & button -->
          <a href="{{ site.Params.navigation_button.link | relLangURL }}"
             title="{{ .label }}"
             class="btn btn-gradient m-2">
            {{ .label }}
          </a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /hero -->

<!-- feature -->
{{ with .Params.feature }}
{{ if .enable }}
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 col-xl-7 mx-auto mb-5 mb-xl-0">
        <h2 class="section-title text-center h2 mb-4">{{ .title | markdownify }}</h2>
        <div class="content mb-4">
          {{.content | markdownify}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-7 mx-auto mb-5 mb-xl-0">
        <h3 class="mt-4 mb-4 text-center"> {{ .subtitle | markdownify }} </h3>
        <div class="text-center"> {{ .subtitle_content }} </div>
      </div>
    </div>
    <div class="row gx-md-4 gy-4 mt-1">
      {{ range .feature_item }}
        <div class="col-12 col-sm-6 col-lg-3 d-flex">
          <div class="feature-card bg-white rounded-4 shadow d-block d-sm-flex">
            <div class="block">
              <h4 class="mb-3">{{ .name }}</h4>
              <p class="mb-0">{{ .content | markdownify }}</p>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /feature -->


<!-- CTA - Mission -->
{{ if .Params.mission.enable }}
{{ with .Params.mission }}
<section class="section p-0 bg-light-blue" id="mission">
  <div class="container">
    <div class="row">
      <div class="col-12 rounded-4 cta">
        {{ partial "cta" . }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /CTA - Mission -->


<!-- Services - Tab panel -->
 {{ if .Params.services.enable }}
 {{ with .Params.services }}
<section class="section bg-light-blue" id="services">
  <div class="container">
    <div class="row pb-4">
      <div class="col">
        <h2 class="text-center">{{ .title | markdownify }}</h2>
      </div>
    </div>
    <div class="row d-md-none d-lg-block">
      <div class="col">
        <ul class="nav nav-tabs row" role="tablist">
          {{range $i, $e := .service_items}}
          <li class="nav-item col-2" role="presentation">
            <button class="nav-link rounded-4 p-3 {{if eq $i 0 }}active{{end}}"
            id="{{.id}}-tab"
            data-bs-toggle="tab"
            data-bs-target="#{{.id}}-tab-pane"
            type="button"
            role="tab"
            aria-controls="{{.id}}-tab-pane"
            aria-selected="{{ if eq $i 0 }}true{{ else }}false{{ end }}"
            {{if gt $i 0 }} tabindex="-1" {{end}}
            >
              {{ partial "image" (dict "Src" .image_light "Alt" "" "Class" "tab-btn-image icon-light") }}
              {{ partial "image" (dict "Src" .image_dark "Alt" "" "Class" "tab-btn-image icon-dark") }}
              <h3 class="tab-btn-text">{{.title}}</h3>
            </button>
          </li>
          {{end}}
        </ul>
        <div class="tab-content p-4" id="servicesTabContent">
          {{range $i, $e := .service_items}}
          <div class="tab-pane rounded-4 p-4
            {{if eq $i 0 }}show active{{end}}"
            id="{{.id}}-tab-pane"
            role="tabpanel"
            aria-labelledby="{{.id}}-tab"
            aria-live="polite"
            >
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <p>{{ .highlights_intro | markdownify  }}</p>
                  <p>{{ .highlights_list_title | markdownify  }}</p>
                  {{ $el := .list_type }}
                  {{ printf "<%s>" $el | safeHTML }}
                    {{range .highlights_list}}
                    <li>{{ . | markdownify }}</li>
                    {{end}}
                  {{ printf "</%s>" $el | safeHTML }}
                </div>
                <div class="col-lg-6 {{ if .swap }}order-first{{ end }}">
                  {{ .description | markdownify }}
                </div>
              </div>
            </div>
          </div>
          {{end}}
      </div>
      </div>
    </div>

    <div class="row d-lg-none d-md-block">
      <div class="col">
        <div class="accordion" id="servicesAccordion">
          {{range $i, $e := .service_items}}
          <div class="accordion-item mb-3">
            <button class="accordion-button {{if ne $i 0 }}collapsed{{end}}"
              id="{{.id}}-accordion"
              data-bs-toggle="collapse"
              data-bs-target="#{{.id}}-accordion-pane"
              type="button"
              aria-controls="{{.id}}-accordion-pane"
              aria-expanded="{{ if eq $i 0 }}true{{ else }}false{{ end }}"
              >
              {{ partial "image" (dict "Src" .image_small_light "Alt" "" "Class" "accordion-image icon-light") }}
              {{ partial "image" (dict "Src" .image_small_dark "Alt" "" "Class" "accordion-image icon-dark") }}

              <h3 class="accordion-header">
                {{.title}}
              </h3>
            </button>
            <div id="{{.id}}-accordion-pane"
              class="accordion-collapse collapse {{if eq $i 0 }}show{{end}} p-3"
              aria-labelledby="{{.id}}-accordion"
              data-bs-parent="#servicesAccordion">

              <div class="container">
                <div class="row">
                  <div class="col-lg-6">
                    <p>{{ .highlights_intro | markdownify  }}</p>
                    <p>{{ .highlights_list_title | markdownify  }}</p>
                    {{ $el := .list_type }}
                    {{ printf "<%s>" $el | safeHTML }}
                      {{range .highlights_list}}
                      <li>{{ . | markdownify }}</li>
                      {{end}}
                    {{ printf "</%s>" $el | safeHTML }}
                  </div>
                  <div class="col-lg-6">
                    {{ .description | markdownify }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Services - Tab panel -->



<!-- Why choose us -->
{{with .Params.why_choose_us}}
<section class="section bg-light" id="why-choose-us">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 mb-4 text-center mx-auto">
        <h2 class="section-title h2">{{ .title | markdownify }}</h2>
      </div>
    </div>
    <div class="row">
      {{ range .items }}
      <div class="col-12 col-md-4 why-choose-us-item px-5">
        <h3> {{ .name }} </h3>
        <p> {{ .content | markdownify }} </p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{end}}
<!-- /why-choose-us -->

<!-- call to action -->
{{ with .Params.call_to_action }}
{{ if .enable }}
<section class="section p-0 cta-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12 rounded-4 cta">
        <h2 class="cta-heading">{{ .title | markdownify }}</h2>
        {{with .content }}<p class="mb-4">{{ . | markdownify }}</p>{{ end }}
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | relLangURL }}" title="{{ .label }}" class="btn btn-primary">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /call to action -->


{{ end }}